@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }
    html::-webkit-scrollbar {
        background-color: #231F20;
        width: 16px;
    }
    
    html::-webkit-scrollbar-thumb {
        background-color: #3A3A3A;
        border: 6px solid #231F20;
        border-radius: 20px;
    }
    input:focus {
        outline: none;
    }
    @media (prefers-color-scheme: dark) {
    body {
        background-color: #231F20;
        color: white;
    }
    .image-control button:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    label{
        display: inline-block;
        margin: 8px 0;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    input{
        background-color: #231F20;
        border: none;
        border-bottom: 1px white solid;
        display: block;
        color: white;
        margin: 4px 0;
        margin-bottom: 8px;
        padding-bottom: 2px;
        width: 80%;
        font-size: 20px;
    }
  }
}